<!DOCTYPE html>
<html lang="<%= locale%>">
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/header.ejs%>
<div class="wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4><a href="#"><%= __("AddIncident")%></a></h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" class="login-input" onsubmit="return checkMessage(this);">
                            <%if(error.length > 0){%>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <%=error%>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <%}%>
                            <div class="form-group">
                                <label for="nameincident">
                                    <%= __("IncidentNameNone")%>
                                </label>
                                <input type="text" id="nameincident" name="nameincident" class="form-control" placeholder="<%= __("IncidentNameNone")%>" required>
                            </div>
                            <div class="pb_select-wrap">
                                <label for="status">
                                    <%= __("Incidentstatus")%>
                                </label>
                                <select id="status" name="status" class="form-control" onchange="showHideEle(this)" required>
                                    <option value="" selected="" disabled><%= __("SelectStatus")%></option>
                                    <option value="investigating"><%= __("investigating")%></option>
                                    <option value="identified"><%= __("identified")%></option>
                                    <option value="monitoring"><%= __("Monitoring")%></option>
                                    <option value="resolved"><%= __("Resolved")%></option>
                                </select>
                            </div>
                            <div class="pb_select-wrap">
                                <label for="message">
                                    <%= __("Message")%>
                                </label>
                                <textarea id="message" name="message" class="form-control"></textarea>
                            </div>
                            <div class="pb_select-wrap">
                                <label for="affected">
                                    <%= __("ComponentAffected")%> ( <%= monitor.label ? monitor.label: monitor.ip%>)
                                </label>
                                <select id="affected" name="affected" class="form-control" required>
                                    <option value="operational"><%= __("Operational")%></option>
                                    <option value="degraded"><%= __("DegradedPerformance")%></option>
                                    <option value="partialoutage"><%= __("PartialOutage")%></option>
                                    <option value="majoroutage"><%=__("MajorOutage")%></option>
                                    <option value="maintenance"><%= __("UnderMaintenance")%></option>
                                </select>
                            </div>
                            <button class="btn text-center btn-primary w-100" type="submit"><%= __("CreateIncident")%></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs%>
</body>
<%include partials/link.ejs%>
<script charset="UTF-8" type="application/javascript">
    let textarea = document.querySelector('textarea');
    textarea.addEventListener('keydown', autosize);
    function autosize(){
        let el = this;
        setTimeout(function(){
            el.style.cssText = 'height:auto; padding:0';
            el.style.cssText = 'height:' + el.scrollHeight + 'px !important';
        },0);
    }
    function showHideEle(selectSrc) {
        if(selectSrc.value==="investigating") {
            document.getElementById("message").placeholder = "We're experiencing an elevated level of API errors and are currently looking into the issue.";
        } else if(selectSrc.value ==="identified") {
            document.getElementById("message").placeholder = "The issue has been identified and a fix is being implemented.";
        }else if(selectSrc.value ==="monitoring"){
            document.getElementById("message").placeholder = "A fix has been implemented and we are monitoring the results.";
        }else if(selectSrc.value ==="resolved"){
            document.getElementById("message").placeholder = "This incident has been resolved.";
        }
    }
    function checkMessage(check){
        if(document.getElementById("message").value.length === 0){
            document.getElementById("message").value = document.getElementById("message").placeholder;
            return true;
        }
        return true;
    }
</script>
</html>