<!DOCTYPE html>
<html lang="<%= locale%>">
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/header.ejs%>
<div class="wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card login-form mb-0">
                    <div class="card-body pt-5">
                        <a class="text-center" href="#"><h4><%if(userinfo != null){%><%= __("ProfilOf", {name: user.username})%><%}else{%><%= __("UserAdd")%><%}%></h4></a>
                        <form class="mt-5 mb-5 login-input"  action="<%if(userinfo != null){%>/edit/<%=userinfo._id%><%}else{%>/adduser<%}%>" method="POST">
                            <div class="form-group">
                                <label for="username">
                                    <%= __("Username")%>
                                </label>
                                <input type="text" id="username" name="username" class="form-control" placeholder="<%= __("Username")%>" <%if(userinfo != null){%>value="<%=userinfo.username%>"<%}%> required>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    <%= __("Email")%>
                                </label>
                                <input type="text" id="email" name="email" class="form-control" placeholder="<%= __("Email")%>" <%if(userinfo != null){%>value="<%=userinfo.email%>"<%}%> required>
                            </div>
                                <div class="pb_select-wrap">
                                    <label for="level">
                                        <%= __("Level")%>
                                    </label>
                                    <select id="level" name="level" class="form-control" required>
                                        <option value="Admin" <%if(userinfo != null){%><%if(userinfo.rank === "Admin"){%>selected<%}%><%}%>><%= __("Administrator")%></option>
                                        <option value="User" <%if(userinfo != null){%><%if(userinfo.rank === "User"){%>selected<%}%><%}%>><%= __("User")%></option>
                                    </select>
                                </div>
                            <div class="form-group">
                                <label for="password">
                                    <%= __("Password")%>
                                </label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="<%= __("Password")%>">
                            </div>
                            <button type="submit" class="btn login-form__btn submit w-100 waves-effect"><%if(userinfo != null){%><%=__("EditProfilNone")%><%}else{%><%=__("CreateUser")%><%}%></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs%>
</body>
<%include partials/link.ejs%>
</html>