<!DOCTYPE html>
<html lang="fr">
<% include partials/head.ejs%>
<body>
<% include partials/header.ejs%>
<div class="wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <%if(error.length > 0){%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%=error%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%}%>
                <%if(success_msg.length > 0){%>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%=success_msg%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%}%>
                <%if(error_msg.length > 0){%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%=error_msg%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%}%>
                <div class="form-group text-center">
                    <a href="/addmonitor" class="waves-effect btn btn-primary btn-lg btn-block btn-shadow-blue">Add Monitor</a>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <%if(monitor.length > 0){%>
                            <% for(var i=0; i<monitor.length; i++) {%>
                                <div class="col-md-4 pd-10">
                                    <div class="cd-card">
                                        <a href="/monitor/<%= monitor[i].id%>">
                                            <div class="cd-card-header text-center <%= monitor[i].laststatus ? monitor[i].laststatus.status == "offline"  ? "rtc": "btc": "btc"%>"><%= monitor[i].label ?monitor[i].label : "unknown" %>
                                            </div>
                                            <div class="table-responsive <%= monitor[i].laststatus ? monitor[i].laststatus.status === "offline" ? "rc": "tc" : "tc"%>">
                                                Latency : <%= monitor[i].laststatus ? monitor[i].laststatus.latency ? monitor[i].laststatus.latency : 0: "Unknonwn"%>
                                                <br>
                                                Status: <%= monitor[i].laststatus ? monitor[i].laststatus.status ? monitor[i].laststatus.status : "online": "Never Check"%>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <%}%>
                        <%}else{%>
                            <div class="col-12">
                                <div class="rounded boxform">
                                    <h2 class="mb-4 mt-0 text-center">No Monitor </h2>
                                    <div class="form-group text-center">
                                        <a href="/addmonitor" class="btn btn-primary btn-lg btn-block pb_btn-pill btn-shadow-blue">Add Monitor</a>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<% include partials/footer.ejs%>
</html>