<!DOCTYPE html>
<html lang="fr">
<% include partials/head.ejs%>
<body>
<% include partials/header.ejs%>
<div class="content">
    <div class="container pt-70">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <div class="card">
                            <div class="card-header text-center">
                                <h4 class="header-title text-center"><%= monitor.label ? monitor.label : "UNKNOWN"%></h4>
                                <div class="btn-actions-pane-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <a href="/monitor/<%= monitor.id%>/edit" class="btn btn-success btn-sm">Edit</a>
                                        <a href="/dashboard" class="btn btn-primary btn-sm">Back</a>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <dl class="row">
                                        <dt class="col-md-4">Domain/IP:</dt>
                                        <dd class="col-md-8"><%= monitor.ip%></dd>
                                    </dl>
                                </li>
                                <% if(monitor.port){%>
                                    <li class="list-group-item">
                                        <dl class="row">
                                            <dt class="col-md-4">Port:</dt>
                                            <dd class="col-md-8"><%= monitor.port%></dd>
                                        </dl>
                                    </li>
                                <%}%>
                                <li class="list-group-item">
                                    <dl class="row">
                                        <dt class="col-md-4">Status:</dt>
                                        <dd class="col-md-8 <%= monitor.laststatus ? monitor.laststatus.status : "online"%>"><%= monitor.laststatus ? monitor.laststatus.status : "Never Check"%></dd>
                                    </dl>
                                </li>
                                <li class="list-group-item">
                                    <dl class="row">
                                        <dt class="col-md-4">Latency:</dt>
                                        <dd class="col-md-8"><%= monitor.laststatus ? monitor.laststatus.latency : "Never Check"%> seconds</dd>
                                    </dl>
                                </li>
                                <li class="list-group-item">
                                    <dl class="row">
                                        <dt class="col-md-4">Privacy:</dt>
                                        <dd class="col-md-8"><%= monitor.privacy ? "Public": "Private" %></dd>
                                    </dl>
                                </li>
                                <li class="list-group-item">
                                    <dl class="row">
                                        <dt class="col-md-4">Show Monitor if Public:</dt>
                                        <dd class="col-md-8"><%= monitor.showmonitor ? "Yes": "No" %></dd>
                                    </dl>
                                </li>
                            </ul>
                            <div class="card-header text-center">
                                <h4 class="header-title text-center">Settings</h4>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <dl class="row">
                                        <dt class="col-md-4">Type:</dt>
                                        <dd class="col-md-8"><%= monitor.type%></dd>
                                    </dl>
                                </li>
                                <li class="list-group-item">
                                    <dl class="row">
                                        <dt class="col-md-4">Warning threshold:</dt>
                                        <dd class="col-md-8"><%= monitor.warning_threshold%></dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title text-center">Uptime</h4>
                                <div id="chart"></div>
                            </div>
                        </div>
                        <div class="card mgt-10">
                            <div class="card-body">
                                <div class="text-center">
                                    <a href="/monitor/<%= monitor.id%>/edit" class="btn btn-success btn-sm w100">Edit Monitor</a>
                                </div>
                                <div class="text-center pd-10">
                                    <a href="/monitor/<%= monitor.id%>/addincident" class="btn btn-orange btn-sm w100">Create Incident</a>
                                </div>
                                <div class="text-center pd-10">
                                    <a href="#open-modal" data="<%=monitor.id%>" class="btn btn-danger btn-sm w100">Delete Monitor</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="open-modal" class="modal-window">
                        <div>
                            <a href="#" title="Close" class="modal-close">Close</a>
                            <h1>Are you sure to delete this monitor ?</h1>
                            <div class="btn-group">
                                <a href="#" class="btn btn-danger left" title="Close">No</a>
                                <form method="post" action="/monitor/<%=monitor.id%>/delete" class="right">
                                    <button type="submit" class="btn btn-primary">Yes</button>
                                    <input type="hidden" name="delete" value="yes">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pd-10">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title text-center">Sytem Metric</h4>
                            </div>
                            <div class="toolbar">
                                <button id="one_hours">1H</button>
                                <button id="one_days" class="active">1D</button>
                                <button id="one_week">1W</button>
                                <button id="one_month">1M</button>
                                <button id="six_months">6M</button>
                                <button id="one_year">1Y</button>
                                <button id="all">ALL</button>
                            </div>
                            <div id="timeline-chart"></div>
                        </div>
                    </div>
                    <div class="col-12 pd-10">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title text-center">Past Incidents</h4>
                            </div>
                            <% for(var is=0; is < incedent.length ; is++) { %>
                                <div class="status-day <%= incedent[is].inc.length === 0 ? "no-incidents" : ""%>">
                                    <div class="date border-color"><%= incedent[is].date.toDateString()%></div>
                                   <% if(incedent[is].inc.length === 0){%>
                                        <p class="color-secondary">
                                            No incidents reported.
                                        </p>
                                   <%}else{%>
                                        <% for(var isn=0; isn < incedent[is].inc.length; isn++){%>
                                            <% var varincedent = incedent[is].inc[isn].infosstatus.reverse(); %>
                                            <% for(var io=0; io < varincedent.length; io++){%>
                                                <div class="incident-container">
                                                    <%if(io == 0){%>
                                                    <div class="incident-title">
                                                        <a href="/monitor/<%= incedent[is].inc[isn].monitorid%>/incident/<%= incedent[is].inc[isn].id%>" class="<% if(incedent[is].inc[isn].impact == 0){%>None<%}else if(incedent[is].inc[isn].impact == 1){%>Minor<%}else if(incedent[is].inc[isn].impact== 2){%>Major<%}else if(incedent[is].inc[isn].impact== 3){%>Critical<%}%>"><%= incedent[is].inc[isn].name%></a>
                                                    </div>
                                                        <%}%>
                                                    <div class="updates-container">
                                                        <div class="update">
                                                            <strong><%= varincedent[io].status%></strong> -
                                                            <%= varincedent[io].description%>
                                                            <br>
                                                            <small>
                                                                <%= new Date(varincedent[io].createAt).toLocaleString()%>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            <%}%>
                                        <%}%>
                                    <%}%>
                                </div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/apexcharts.js"></script>
<script>
    let options = {
        chart: {
            type: 'radialBar',
        },
        plotOptions: {
            radialBar: {
                startAngle: -90,
                endAngle: 90,
                track: {
                    background: "#e7e7e7",
                    strokeWidth: '97%',
                    margin: 5, // margin is in pixels
                    shadow: {
                        enabled: true,
                        top: 2,
                        left: 0,
                        color: '#999',
                        opacity: 1,
                        blur: 2
                    }
                },
                dataLabels: {
                    name: {
                        show: false
                    },
                    value: {
                        offsetY: 15,
                        fontSize: '22px'
                    }
                }
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
                shade: 'light',
                shadeIntensity: 0.4,
                inverseColors: false,
                opacityFrom: 1,
                opacityTo: 1,
                stops: [0, 50, 53, 91]
            },
        },
        series: [<%= totalpercent.toFixed(4) %>],
        labels: ['Uptime'],

    }

    let chart = new ApexCharts(
        document.querySelector("#chart"),
        options
    );

    chart.render();
    let options2 = {
        chart: {
            type: 'area',
            height: 350,
        },
        dataLabels: {
            enabled: false
        },
        series: [{
            name: "Ping",
            data:  <%=JSON.stringify(infosStatus).replace(/"/g, '');%>
        },

        ],
        markers: {
            size: 0,
            style: 'hollow',
        },
        xaxis: {
            type: 'datetime',
            min: delDays(new Date(), 1).getTime(),
            tickAmount: 6,
        },
        tooltip: {
            x: {
                format: 'dd MMM yyyy'
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                opacityFrom: 0.7,
                opacityTo: 0.9,
                stops: [0, 100]
            }
        },

    }

    let chart2 = new ApexCharts(
        document.querySelector("#timeline-chart"),
        options2
    );

    chart2.render();

    let resetCssClasses = function (activeEl) {
        let els = document.querySelectorAll("button");
        Array.prototype.forEach.call(els, function (el) {
            el.classList.remove('active');
        });

        activeEl.target.classList.add('active')
    }
    /**
     * Convert data
     **/
    function del_months(dt, n)
    {
        return new Date(dt.setMonth(dt.getMonth() - n));
    }
    function del_hours(dt, n){
        return new Date(dt.setHours(dt.getHours()-n));
    }
    function delDays(date, days) {
        let result = new Date(date);
        result.setDate(result.getDate() - days);
        return result;
    }
    document.querySelector("#one_hours").addEventListener('click', function(e){
       let dt = new Date();
       let t = new Date();
       resetCssClasses(e);
        chart2.updateOptions({
            xaxis: {
                min: del_hours(t, 1).getTime(),
                max: dt.getTime(),
            }
        })
    });
    document.querySelector("#one_days").addEventListener('click', function (e) {
        let dt = new Date();
        let t = new Date();
        resetCssClasses(e)
        chart2.updateOptions({
            xaxis: {
                min: delDays(t, 1).getTime(),
                max: dt.getTime(),
            }
        })
    });
    document.querySelector("#one_month").addEventListener('click', function (e) {
        let dt = new Date();
        let t = new Date();
        resetCssClasses(e)
        chart2.updateOptions({
            xaxis: {
                min: del_months(dt, 1).getTime(),
                max: t.getTime(),
            }
        })
    });

    document.querySelector("#six_months").addEventListener('click', function (e) {
        let dt = new Date();
        let t = new Date();
        resetCssClasses(e)
        chart2.updateOptions({
            xaxis: {
                min: del_months(dt, 6).getTime(),
                max: t.getTime(),
            }
        })
    });

    document.querySelector("#one_year").addEventListener('click', function (e) {
        let dt = new Date();
        let t = new Date();
        resetCssClasses(e)
        chart2.updateOptions({
            xaxis: {
                min: del_months(dt, 12).getTime(),
                max: t.getTime(),
            }
        })
    });

    document.querySelector("#one_week").addEventListener('click', function (e) {
        let dt = new Date();
        let t = new Date();
        resetCssClasses(e)
        chart2.updateOptions({
            xaxis: {
                min: delDays(dt, 7).getTime(),
                max: t.getTime(),
            }
        })
    });

    document.querySelector("#all").addEventListener('click', function (e) {
        resetCssClasses(e)
        chart2.updateOptions({
            xaxis: {
                min: undefined,
                max: undefined,
            }
        })
    });
</script>
<% include partials/footer.ejs%>
</html>