<!DOCTYPE html>
<html lang="fr">
<% include partials/head.ejs%>
<body>
<% if(infoconf.headershow ? infoconf.headershow: false){%>
    <% include partials/header.ejs%>
<%}%>
<script src="/js/axios.js" charset="UTF-8" type="application/javascript"></script>
<div class="wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <div class="float-left">
                            <h4><a href="http://<%=monitor.ip%>"><%= monitor.label ? monitor.label : "UNKNOWN"%></a></h4>
                        </div>
                        <div class="float-right">
                            <a href="/monitor/<%= monitor.id%>/edit" class="btn btn-success waves-effect">Edit</a>
                            <a href="/dashboard" class="btn btn-primary waves-effect">Back</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <dl class="row mb-0">
                            <dt class="col-sm-4">Domain/IP:</dt>
                            <dd class="col-sm-8"><%= monitor.ip%></dd>
                        </dl>
                        <% if(monitor.port){%>
                            <dl class="row mb-0">
                                <dt class="col-md-4">Port:</dt>
                                <dd class="col-md-8"><%= monitor.port%></dd>
                            </dl>
                        <%}%>
                        <dl class="row mb-0">
                            <dt class="col-md-4">Status:</dt>
                            <dd class="col-md-8 <%= monitor.laststatus ? monitor.laststatus.status : "online"%>"><%= monitor.laststatus ? monitor.laststatus.status : "Never Check"%></dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-md-4">Latency:</dt>
                            <dd class="col-md-8"><%= monitor.laststatus ? monitor.laststatus.latency : "Never Check"%> seconds</dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-md-4">Privacy:</dt>
                            <dd class="col-md-8"><%= monitor.privacy ? "Public": "Private" %></dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-md-4">Show Monitor if Public:</dt>
                            <dd class="col-md-8"><%= monitor.showmonitor ? "Yes": "No" %></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="header-title text-center">Uptime</h4>
                    </div>
                    <div class="card-body">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="header-title">Settings</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row mb-0">
                            <dt class="col-sm-4">Type:</dt>
                            <dd class="col-sm-8"><%= monitor.type%></dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-md-4">Warning threshold:</dt>
                            <dd class="col-md-8"><%= monitor.warning_threshold%></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="button-items">
                            <a href="/monitor/<%= monitor.id%>/edit" class="btn btn-md btn-success waves-effect" role="button">Edit Monitor</a>
                            <a href="/monitor/<%= monitor.id%>/addincident" class="btn btn-md btn-orange waves-effect" role="button">Create Incident</a>
                            <a href="#open-modal" data-toggle="modal" data-target="#deletemonitor" data="<%=monitor.id%>" class="btn btn-md btn-danger waves-effect" role="button">Delete Monitor</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="metrics-container">
                    <div class="timestamp-container">
                        <a class="title-metrics no-link" id="<%=monitor.id%>metrics" href="#<%=monitor.id%>metrics">System Metrics</a>
                        <button class="timestamp months">Months</button>
                        <button class="timestamp weeks">Weeks</button>
                        <button class="timestamp days">Day</button>
                        <button class="timestamp hour active">Hour</button>
                    </div>
                    <div class="metric border-metric">
                        <div class="metric-info">
                            <div class="metric-title"><%= monitor.label ? monitor.label : monitor.ip %></div>
                            <div class="metric-average" id="average<%= monitor.id%>">Loading...</div>
                            <div class="metric-display">
                                <div id="timeline-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <h2>Past Incidents</h2>
                <div class="status-days">
                    <% for(var is=0; is < incedent.length ; is++) { %>
                        <div class="status-day <%= incedent[is].inc.length === 0 ? "no-incidents" : ""%>">
                            <h5 class="date border-color"><%= incedent[is].date.toDateString()%></h5>
                            <% if(incedent[is].inc.length === 0){%>
                                <p class="color-secondary">
                                    No incidents reported.
                                </p>
                            <%}else{%>
                                <% for(var isn=0; isn < incedent[is].inc.length; isn++){%>
                                    <% var varincedent = incedent[is].inc[isn].infosstatus.reverse(); %>
                                    <%if (varincedent.length == 0){%>
                                        <div class="incident-title">
                                            <a href="/monitor/<%= incedent[is].inc[isn].monitorid%>/incident/<%= incedent[is].inc[isn].id%>" class="<% if(incedent[is].inc[isn].impact == 0){%>None<%}else if(incedent[is].inc[isn].impact == 1){%>Minor<%}else if(incedent[is].inc[isn].impact== 2){%>Major<%}else if(incedent[is].inc[isn].impact== 3){%>Critical<%}%>"><%= incedent[is].inc[isn].name%></a>
                                        </div>
                                    <%}else{%>
                                    <div class="row">
                                        <div class="col-lg-12 mx-auto">
                                            <ul class="timeline">
                                                <% for(var io=0; io < varincedent.length; io++){%>
                                                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow <%= varincedent[io].status%>">
                                                        <div class="timeline-arrow"></div>
                                                        <h2 class="h5 mb-0"><%= varincedent[io].status%></h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i><%= new Date(varincedent[io].createAt).toLocaleString()%></span>
                                                        <p class="text-small mt-2 font-weight-light"><%= varincedent[io].description%></p>
                                                    </li>
                                                <%}%>
                                            </ul>
                                        </div>
                                    </div>
                                    <%}%>
                                <%}%>
                            <%}%>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deletemonitor" tabindex="-1" role="dialog" aria-labelledby="deletemonitor" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete this monitor ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <form method="post" action="/monitor/<%=monitor.id%>/delete">
                    <button type="button" class="btn btn-primary">Yes</button>
                    <input type="hidden" name="delete" value="yes">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/apexcharts.js"></script>
<script>
    let options = {
        chart: {
            type: 'radialBar',
        },
        plotOptions: {
            radialBar: {
                startAngle: -90,
                endAngle: 90,
                track: {
                    background: "#e7e7e7",
                    strokeWidth: '97%',
                    margin: 5, // margin is in pixels
                    shadow: {
                        enabled: true,
                        top: 2,
                        left: 0,
                        color: '#999',
                        opacity: 1,
                        blur: 2
                    }
                },
                dataLabels: {
                    name: {
                        show: false
                    },
                    value: {
                        offsetY: 15,
                        fontSize: '22px'
                    }
                }
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
                shade: 'light',
                shadeIntensity: 0.4,
                inverseColors: false,
                opacityFrom: 1,
                opacityTo: 1,
                stops: [0, 50, 53, 91]
            },
        },
        series: [<%= totalpercent.toFixed(4) %>],
        labels: ['Uptime'],

    }

    let chart = new ApexCharts(
        document.querySelector("#chart"),
        options
    );

    chart.render();

    /**
     * Convert data
     **/
    function del_months(dt, n)
    {
        return new Date(dt.setMonth(dt.getMonth() - n));
    }
    function del_hours(dt, n){
        return new Date(dt.setHours(dt.getHours()-n));
    }
    function delDays(date, days) {
        let result = new Date(date);
        result.setDate(result.getDate() - days);
        return result;
    }

    let options1 = {
        chart: {
            type: 'area',
            height: 135,
            zoom:{
                enabled: false
            },
            toolbar: {
                show: false
            }
        },
        legend: {
            show: false
        },
        dataLabels: {
            enabled: false
        },
        series: [],
        markers: {
            size: 0,
            style: 'hollow',
        },
        xaxis: {
            type: 'datetime',
            min: del_hours(new Date(), 1).getTime(),
        },
        tooltip: {
            enabled: true,
            x: {
                format: 'dd MMM yyyy'
            },
            onDatasetHover: {
                highlightDataSeries: false,
            },
            y: {
                show:false
            },
            marker: {
                size: 0,
                show: true,
            },
        },
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                opacityFrom: 0.7,
                opacityTo: 0.9,
                stops: [0, 100]
            }
        },
        noData: {
            text: 'Loading...'
        }
    }

    var chart1 = new ApexCharts(
        document.querySelector("#timeline-chart"),
        options1
    );

    chart1.render();
    //load default days
    axios({
        method: 'GET',
        url: "/hours/<%=monitor.id%>",
    }).then(function(response) {
        chart1.updateOptions({
            series: [{
                name: 'Ping',
                data: response.data.metric.data
            }],
            xaxis: {
                type: 'datetime',
                min: response.data.time,
            },
        });
        document.getElementById("average<%=monitor.id%>").innerHTML = response.data.summary.average.toFixed(0) +" ms"
    });
    document.querySelector(".hour").addEventListener("click", function () {
        axios({
            method: 'GET',
            url: "/hours/<%=monitor.id%>",
        }).then(function(response) {
            chart1.updateOptions({
                series: [{
                    name: 'Ping',
                    data: response.data.metric.data
                }],
                xaxis: {
                    type: 'datetime',
                    min: response.data.time,
                },
            });
            document.getElementById("average<%=monitor.id%>").innerHTML = response.data.summary.average.toFixed(0) +" ms"
        });
            document.querySelector(".hour").classList.add("active");
            document.querySelector(".days").classList.remove("active");
            document.querySelector(".weeks").classList.remove("active");
            document.querySelector(".months").classList.remove("active");
    });

    document.querySelector(".days").addEventListener("click", function () {
        axios({
            method: 'GET',
            url: "/days/<%=monitor.id%>",
        }).then(function(response) {
            chart1.updateOptions({
                series: [{
                    name: 'Ping',
                    data: response.data.metric.data
                }],
                xaxis: {
                    type: 'datetime',
                    min: response.data.time,
                },
            });
            document.getElementById("average<%=monitor.id%>").innerHTML = response.data.summary.average.toFixed(0) +" ms"
        });
            document.querySelector(".days").classList.add("active");
            document.querySelector(".hour").classList.remove("active");
            document.querySelector(".weeks").classList.remove("active");
            document.querySelector(".months").classList.remove("active");
    });

    document.querySelector(".weeks").addEventListener("click", function () {
        axios({
            method: 'GET',
            url: "/weeks/<%=monitor.id%>",
        }).then(function(response) {
            chart1.updateOptions({
                series: [{
                    name: 'Ping',
                    data: response.data.metric.data
                }],
                xaxis: {
                    type: 'datetime',
                    min: response.data.time,
                },
            });
            document.getElementById("average<%=monitor.id%>").innerHTML = response.data.summary.average.toFixed(0) +" ms"
        });
            document.querySelector(".weeks").classList.add("active");
            document.querySelector(".hour").classList.remove("active");
            document.querySelector(".days").classList.remove("active");
            document.querySelector(".months").classList.remove("active");
    });

    document.querySelector(".months").addEventListener("click", function () {
        axios({
            method: 'GET',
            url: "/months/<%=monitor.id%>",
        }).then(function(response) {
            chart1.updateOptions({
                series: [{
                    name: 'Ping',
                    data: response.data.metric.data
                }],
                xaxis: {
                    type: 'datetime',
                    min: response.data.time,
                },
            });
            document.getElementById("average<%=monitor.id%>").innerHTML = response.data.summary.average.toFixed(0) +" ms"
        });
            document.querySelector(".months").classList.add("active");
            document.querySelector(".hour").classList.remove("active");
            document.querySelector(".days").classList.remove("active");
            document.querySelector(".weeks").classList.remove("active");
    });
</script>
<% include partials/footer.ejs%>
</html>