<!DOCTYPE html>
<html lang="fr">
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/header.ejs%>
<div class="wrap">
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-12">
                    <div class="card login-form mb-0">
                        <div class="card-header">
                            <div class="float-left">
                                <a href="#"><h4>Settings</h4></a>
                            </div>
                            <div class="float-right">
                                <a class="btn btn-primary" href="/dashboard">Back</a>
                            </div>
                        </div>
                        <div class="card-body pt-5">
                            <form class="mt-5 mb-5 login-input" method="POST">
                                <%if(error.length > 0){%>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <%=error%>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}%>
                                <div class="form-group">
                                    <label for="websitename">Website Name</label>
                                    <input type="text" class="form-control" id="websitename" value="<%= config.websitename%>" name="websitename" placeholder="Name of Website" required>
                                </div>
                                <div class="form-group">
                                    <label for="websiteport">Website Port</label>
                                    <input type="text" class="form-control" id="websiteport" value="<%= config.websiteport%>" name="websiteport" placeholder="Port" required>
                                </div>
                                <div class="form-group">
                                    <label for="baseurl">Base Url</label>
                                    <input type="text" class="form-control" id="baseurl" value="<%= config.baseurl%>" name="baseurl" placeholder="base URL" required>
                                </div>
                                <div class="form-group">
                                    <label for="secretsession">Secret Session </label>
                                    <input type="text" class="form-control" id="secretsession" value="<%= config.secretsession%>" name="secretsession" placeholder="Secret Session" required>
                                </div>
                                <div class="form-group">
                                    <label for="cb1">Show Header in public page</label>
                                    <input class="tgl tgl-light" id="cb1" type="checkbox" name="publicheader" <%= config.headershow ? "checked": ""%>>
                                    <label class="tgl-btn" for="cb1"></label>
                                </div>
                                <div class="form-group">
                                    <label for="cb2">Show Footer in public page</label>
                                    <input class="tgl tgl-light" id="cb2" type="checkbox" name="publicfooter" <%= config.footershow ? "checked": ""%> >
                                    <label class="tgl-btn" for="cb2"></label>
                                </div>
                                <div class="form-group">
                                    <label for="cb3">Custom css</label>
                                    <input class="tgl tgl-light" id="cb3" type="checkbox" name="customstyle" <%= config.customstyle ? "checked": ""%> >
                                    <label class="tgl-btn" for="cb3"></label>
                                </div>
                                <div class="form-group">
                                    <label for="customcss">CSS</label>
                                    <textarea id="message" name="customcss" id="customcss" class="form-control" style="border: 1px solid;" placeholder="please add css here for custom"><%= config.customcss%></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="cb4">Show Login Link</label>
                                    <input class="tgl tgl-light" id="cb4" type="checkbox" name="showlogin" <%= config.showlogin ? "checked": ""%> >
                                    <label class="tgl-btn" for="cb4"></label>
                                </div>
                                <button type="submit" class="btn login-form__btn submit w-100 waves-effect">Update Config</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%include partials/footer.ejs%>
</body>
<%include partials/link.ejs%>
</html>