<!DOCTYPE html>
<html lang="fr">
<% include partials/head.ejs%>
<body>
<% include partials/header.ejs%>
<div class="wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card m-b-30">
                    <div class="card-header">
                        <div class="float-left">
                            <a href="#"><h4>Users Account</h4></a>
                        </div>
                        <div class="float-right">
                            <a class="btn btn-success" href="/adduser">Add User</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Level</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i=0; i<users.length; i++) {%>
                                    <tr>
                                        <td class=" text-muted"><%= users[i]._id%></td>
                                        <td>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left flex2">
                                                        <div class="widget-heading"><%= users[i].username%></div>
                                                        <div class="widget-subheading opacity-7"><%= users[i].name%></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <%= users[i].email%>
                                        </td>
                                        <td>
                                            <div class="badge badge-<%if(users[i].rank === false){%>danger<%}else{%>success<%}%>"><%if (users[i].enable){%>Enable<%}else{%>Disable<%}%></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-<%if(users[i].rank === "Admin"){%>danger<%}else{%>success<%}%>"><%= users[i].rank%></div>
                                        </td>
                                        <td>
                                            <a href="<% if(user.id == users[i]._id){ %>/profile<%}else{%>/edit/<%=users[i]._id%><%}%>" class="btn btn-primary btn-sm">Details</a>
                                        </td>
                                    </tr>
                                <% }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<% include partials/footer.ejs%>
</html>