<meta charset="utf-8">
<title><%= titlepage %> | <%= nameconfig %></title>
<meta name="viewport" content="width=device-width">

<noscript>Your browser does not support JavaScript!</noscript>
<link rel="preload stylesheet" href="/css/font-awesome.min.css" as="style">
<link rel="preload stylesheet" href="/css/bootstrap.min.css" as="style">
<link rel="preload stylesheet" href="/css/style.css" as="style">
<link rel="preload stylesheet" href="/css/waves.min.css" as="style">
<noscript>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/waves.min.css">
</noscript>
<link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16" />
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<script src="/js/axios.js" charset="UTF-8" type="application/javascript" async></script>
<% if(infoconf != null){ %>
    <% if(infoconf.customstyle ? infoconf.customstyle : false){ %>
        <style type="text/css">
            <%= infoconf.customcss%>
        </style>
    <% } %>
    <meta name="description" content="Sekarion Monitor is a script that checks whether your websites and servers are up and running. All while being open source to host it yourself">
    <meta name="url" content="<%= infoconf.baseurl%>">
    <meta itemprop="name" content="Sekarion">
    <meta itemprop="description" content="Sekarion Monitor is a script that checks whether your websites and servers are up and running. All while being open source to host it yourself">
    <meta itemprop="image" content="<%= infoconf.baseurl%>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= titlepage %> | <%= nameconfig %>">
    <meta name="twitter:description" content="Sekarion Monitor is a script that checks whether your websites and servers are up and running. All while being open source to host it yourself">
    <meta name="og:title" content="<%= titlepage %> | <%= nameconfig %>">
    <meta name="og:description" content="Sekarion Monitor is a script that checks whether your websites and servers are up and running. All while being open source to host it yourself">
    <meta name="og:url" content="<%= infoconf.baseurl%>">
    <meta name="og:site_name" content="Sekarion">
    <meta name="og:locale" content="en_EN">
    <meta name="og:type" content="website">
<%}%>