<div class="header-bg">
    <header id="navbar">
        <div class="topbar-main">
            <div class="container-fluid">
                <div>
                    <a href="/" class="logo">
                        <span class="logo-light">
                            <%= nameconfig %>
                        </span>
                    </a>
                </div>
                <div class="menu-extras topbar-custom navbar p-0">
                    <ul class="navbar-right ml-auto list-inline float-right mb-0">
                        <li class="dropdown navinfo list-inline-item d-none d-md-inline-block">
                            <a class="nav-link dropdown-toggle waves-effect" data-toggle="dropdown" href="#"
                               role="button" aria-haspopup="false" aria-expanded="false">
                                <% if(locale == "en"){ %>
                                    <img src="/img/flags/us_flag.jpg" class="mr-2" height="12" alt="">
                                    <span> English</span>
                                <% }else if(locale == "fr"){ %>
                                    <img src="/img/flags/french_flag.jpg" class="mr-2" height="12" alt="">
                                    <span> French</span>
                                <% }else if(locale == "es"){ %>
                                    <img src="/img/flags/spain_flag.jpg" class="mr-2" height="12" alt="">
                                    <span> Spanish</span>
                                <% } %>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated language-switch">
                                <% if(locale == "en"){ %>
                                    <a class="dropdown-item" href="/lang/fr">
                                        <img src="/img/flags/french_flag.jpg" alt="" height="16"><span> French </span>
                                    </a>
                                    <a class="dropdown-item" href="/lang/es">
                                        <img src="/img/flags/spain_flag.jpg" alt="" height="16"><span> Spanish </span>
                                    </a>
                                <% }else if(locale == "fr"){ %>
                                    <a class="dropdown-item" href="/lang/en">
                                        <img src="/img/flags/us_flag.jpg" alt="" height="16"><span> English </span>
                                    </a>
                                    <a class="dropdown-item" href="/lang/es">
                                        <img src="/img/flags/spain_flag.jpg" alt="" height="16"><span> Spanish </span>
                                    </a>
                                <% }else if(locale == "es"){ %>
                                        <a class="dropdown-item" href="/lang/en">
                                            <img src="/img/flags/us_flag.jpg" alt="" height="16"><span> English </span>
                                        </a>
                                        <a class="dropdown-item" href="/lang/fr">
                                            <img src="/img/flags/french_flag.jpg" alt="" height="16"><span> French </span>
                                        </a>
                                <% } %>
                            </div>
                        </li>
                        <li class="dropdown navinfo list-inline-item">
                            <% if(user){ %>
                                <div class="dropdown navinfo">
                                    <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown"
                                       href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                        <img src="https://api.adorable.io/avatars/36/<%= user.username %>.png"
                                             alt="user" class="rounded-circle">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                                        <!-- item-->
                                        <a class="dropdown-item" href="/profile"><%= __("Profile")%></a>
                                        <% if(user.rank === "Admin") { %>
                                            <a class="dropdown-item d-block" href="/settings"><%=__("Settings")%></a>
                                        <% } %>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout"><%= __("Logout")%></a>
                                    </div>
                                </div>
                            <% }else{ %>
                                <% if(infoconf != null){ %>
                                    <% if(infoconf.showlogin ? infoconf.showlogin : true){ %>
                                        <a href="/auth" class="nav-link arrow-none waves-effect"><%=__("Login")%></a>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </li>
                        <li class="menu-item dropdown navinfo list-inline-item">
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="navbar-custom active">
            <div class="container-fluid">
                <div id="navigation" class="active">
                    <ul class="nav-menu">
                        <li class="has-submenu">
                            <a href="#">Get Started</a>
                        </li>
                        <% if(user){ %>
                            <li class="has-submenu">
                                <a href="/"><%= __("Home")%></a>
                            </li>
                            <li class="has-submenu">
                                <a href="/dashboard"><%=__("Dashboard")%></a>
                            </li>
                            <% if(user.rank == "Admin"){ %>
                                <li class="has-submenu">
                                    <a href="/users"><%= __("Users")%></a>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>